<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <header style="max-width: 1500px; min-width: 1400px; margin: 0 auto">
        <div class="container" style="max-width: 1400px;">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light navigation">
                        <a class="navbar-brand" th:href="@{/}">
                            <img th:src="@{/images/logo_Tsherpa.png}" alt="logo" style="width: 120px; height: 50px;">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 200px;">
                            <ul class="navbar-nav ml-auto main-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/}">Home</a>
                                </li>

                                <!-- 상품 목록 Dropdown -->
                                <li class="nav-item dropdown dropdown-slide @@dashboard">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!">상품 목록<span><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <!-- 초등 -->
                                        <li class="dropdown dropdown-submenu dropright">
                                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">초등</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                                <li><a class="dropdown-item" href="index.html"> 국어 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 수학 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 영어 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 탐구 </a></li>
                                            </ul>
                                        </li>
                                        <!-- 초등 항목 끝 -->

                                        <!-- 중등 -->
                                        <li class="dropdown dropdown-submenu dropright">
                                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0502" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">중등</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown0502">
                                                <li><a class="dropdown-item" href="index.html"> 국어 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 수학 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 영어 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 탐구 </a></li>
                                            </ul>
                                        </li>
                                        <!-- 중등 항목 끝 -->

                                        <!-- 고등 -->
                                        <li class="dropdown dropdown-submenu dropright">
                                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0503" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">고등</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown0503">
                                                <li><a class="dropdown-item" href="index.html"> 국어 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 수학 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 영어 </a></li>
                                                <li><a class="dropdown-item" href="index.html"> 탐구 </a></li>
                                            </ul>
                                        </li>
                                        <!-- 고등 항목 끝 -->

                                    </ul>
                                </li>

                                <!-- 커뮤니티 Dropdown -->
                                <li class="nav-item dropdown dropdown-slide @@pages">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티 <span><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/notice/list.do}"> 공지사항 </a></li>
                                        <li><a class="dropdown-item" th:href="@{/free/list.do}"> 자유게시판 </a></li>
                                        <li><a class="dropdown-item" th:href="@{/faq/list.do}"> 자주 묻는 질문 </a></li>
                                        <li><a class="dropdown-item" th:href="@{/file/list.do}"> 자료실 </a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown dropdown-slide @@pages">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사고팔기 <span><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/notice/list.do}"> 삽니다 </a></li>
                                        <li><a class="dropdown-item" th:href="@{/free/list.do}"> 팝니다 </a></li>
                                        <li><a class="dropdown-item" th:href="@{/book/list.do}"> 도서 검색 </a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown dropdown-slide @@pages">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        고객의 소리 <span><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/notice/list.do}"> 신고합니다 </a></li>
                                        <li><a class="dropdown-item" th:href="@{/free/list.do}"> 문의 센터 </a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="navbar-nav ml-auto mt-10">
                                <th:block sec:authorize="isAnonymous()">
                                    <li class="nav-item">
                                        <a class="nav-link text-white add-button" th:href="@{/join}">회원가입</a>
                                    </li>
                                    &nbsp;&nbsp;
                                    <li class="nav-item">
                                        <a th:href="@{/login}" class="nav-link text-white add-button">로그인</a>
                                    </li>
                                </th:block>

                                <!-- 로그인 한 경우 -->
                                <th:block sec:authorize="isAuthenticated()">
                                    <li class="nav-item">
                                        <a th:href="@{/updateForm(id=${#authentication.principal})}" class="nav-link text-white add-button">수정</a>
                                    </li>
                                    &nbsp;
                                    <li class="nav-item">
                                        <form th:action="@{/logout}" method="post">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <button type="submit" class="nav-link login-button">로그아웃</button>
                                        </form>
                                    </li>

                                    <!-- 권한 별 로그인 특정 메뉴  -->
                                    <ul class="navbar-nav ml-auto mt-10" style="height: 38px;">
                                        <li class="nav-item">
                                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                                    <a th:href="@{/admin/adminMain}" class="nav-link login-button">관리자 페이지</a>
                                            </th:block>
                                        </li>
                                        <li class="nav-item">
                                            <th:block sec:authorize="hasAuthority('EMP')">
                                                    <a th:href="@{/emp/empMain}" class="nav-link">직원 페이지</a>
                                            </th:block>
                                        </li>
                                        <li class="nav-item">
                                            <th:block sec:authorize="hasAuthority('USER')">
                                                <a th:href="@{/user/userMain}" class="nav-link">마이 페이지</a>
                                            </th:block>
                                        <li class="nav-item">
                                            <th:block sec:authorize="hasAuthority('TEACHER')">
                                                <a th:href="@{/user/teacherMain}" class="nav-link">교사용 페이지</a>
                                            </th:block>
                                         </li>
                                        </li>
                                    </ul>
                                </th:block>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>
