<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.NoticeMapper">

    <select id="getList" resultType="com.shop.entity.Notice">
        <![CDATA[
        select * from notice
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by regdate desc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="getCount" resultType="integer">
        select count(*) from notice
    </select>

    <select id="getNotice" parameterType="com.shop.entity.Notice">
        select * from notice where no=#{no}
    </select>

    <insert id="noticeInsert" parameterType="map">
        insert into notice values (default, #{notice.title}, #{notice.content}, 1, default, default)
    </insert>

    <update id="noticeUpdate" parameterType="map">
        update notice set title=#{notice.title}, content=#{notice.content} where no=#{notice.no}
    </update>

    <delete id="noticeDelete">
        delete from notice where no=#{no}
    </delete>

    <!-- visit 증가 -->
    <update id="visitCount">
        update notice set cnt = cnt+1 where no=#{no}
    </update>
</mapper>