<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tsherpa</title>
    <th:block th:replace="layout/head :: head"></th:block>
</head>

<body class="body-wrapper">


<th:block th:replace="layout/header :: header"></th:block>

<div class="container pt-5 pb-5">
    <input type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
    <div class="w-50 m-auto">
        <label for="name">아이디</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${user.name}" readonly="readonly">

        <label for="username" class="mt-3">이름</label>
        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" readonly="readonly">

        <label for="email" class="mt-3">이메일</label>
        <input type="text" class="form-control" id="email" name="email" th:value="${user.email}" readonly="readonly">

        <label for="address" class="mt-3">주소</label>
        <input type="text" class="form-control" id="address" name="address" th:value="${user.address}" readonly="readonly">

        <label for="tel" class="mt-3">전화번호</label>
        <input type="text" class="form-control" id="tel" name="tel" th:value="${user.tel}" readonly="readonly">

        <label for="regdate" class="mt-3">가입일</label>
        <input type="text" class="form-control" id="regdate" name="regdate" th:value="${user.regdate}" readonly="readonly">

        <div class="d-flex justify-content-end mt-3">
            <a th:href="@{/userEdit(id=${principal})}" class="btn btn-dark">개인정보 변경</a>
        </div>
    </div>
</div>

<th:block th:replace="layout/footer :: footer"></th:block>



</body>

</html>



