<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tsherpa</title>
    <th:block th:replace="layout/head :: head"></th:block>
</head>

<body class="body-wrapper">

<th:block th:replace="layout/header :: header"></th:block>

<div class="container mt-5 pt-5">
    <main class="form-signin">
        <form th:action="@{/joinPro}" th:object="${name}" method="post" onsubmit="return joinConfirm(this)" class="row g-3">
            <h1 class="h3 mb-3 fw-normal text-center">환영합니다~!</h1>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" name="name" placeholder="아이디를 입력해주세요" autocomplete="off" pattern="^[a-z0-9]*$" required>
                    <label for="name">ID</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요" autocomplete="off" pattern="^\d{4,}(?:[a-z@^*]*)?$" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="비밀번호를 다시 입력해주세요" autocomplete="off"  pattern="^\d{4,}(?:[a-z@^*]*)?$" required>
                    <label for="password2">Password Confirm</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="이름을 입력해주세요" autocomplete="off" pattern="^[가-힣]+$" required>
                    <label for="username">Name</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요" autocomplete="off" pattern="^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}" required>
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="address" name="address" placeholder="주소를 입력해주세요" autocomplete="off" pattern="^[가-힣a-zA-Z0-9\s]*$" required>
                    <label for="address">Address</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input type="tel" class="form-control" id="tel" name="tel" placeholder="전화번호를 입력해주세요" autocomplete="off" pattern="\d{2,4}-\d{3,4}-\d{4}" required>
                    <label for="tel">Tel</label>
                </div>
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary w-100 py-2 mt-4" type="submit">회원가입</button>
            </div>

            <div class="col-md-12 text-center mt-3">
                <p>이미 회원이신가요? <a th:href="@{/login}" class="text-secondary">로그인하기</a></p>
            </div>
        </form>
    </main>
</div>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<th:block th:replace="layout/footer :: footer"></th:block>

</body>

</html>
