<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tsherpa</title>
    <th:block th:replace="layout/head :: head"></th:block>
</head>

<body class="body-wrapper" style="background: linear-gradient(to right, #71AEE8, #77E9CE)";>

<section class="login py-5 border-top-1 d-flex" style="margin-top: 200px;"> <!-- 추가: d-flex 및 align-items-center 클래스로 세로 중앙 정렬 -->
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center mx-auto">
                <div class="border">
                    <h3 class="bg-gray p-4">Login Now</h3>
                    <form th:action="@{/auth}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <fieldset class="p-4">
                            <input type="text" class="form-control mb-3" name="name" placeholder="Username" pattern="^[a-z0-9]*$" required/>
                            <input type="password" class="form-control mb-3" name="password" placeholder="Password" pattern="^\d{4,}(?:[a-z@^*]*)?$" required/>
                            <div class="loggedin-forgot">
                                <input type="checkbox" id="keep-me-logged-in">
                                <label for="keep-me-logged-in" class="pt-3 pb-2">Keep me logged in</label>
                            </div>
                            <button type="submit" class="btn btn-primary font-weight-bold mt-3">Log in</button>
                            <a class="btn btn-primary font-weight-bold mt-3" th:href="@{/join}">Register Now</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
