<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tsherpa</title>
    <th:block th:replace="layout/head :: head"></th:block>
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
    <style>
        .page-title {
            padding: 80px 0; /* 조절 가능한 상단 및 하단 여백 */
        }
    </style>
</head>

<body class="body-wrapper">


<th:block th:replace="layout/header :: header"></th:block>

<main id="main">
    <section class="page-title" style="background: linear-gradient(to right, #71AEE8, #77E9CE);">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <!-- Title text -->
                <h3> 자유게시판 작성하기</h3>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!-- boardDetail start-->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured" style="padding:0;">
                <form th:action="@{/free/insert.do}" method="post">
                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="table-responsive project-list">
                                    <table class="table project-table table-centered table-nowrap">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle; width: 15%;">제목</th>
                                            <td><input type="text" id="title" name="title" placeholder="제목을 입력하세요" class="form-control" required></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle; width: 15%;">내용</th>
                                            <td>
                                                <textarea name="content" id="content" rows="8" maxlength="1000" class="form-control" style="height: 200px; border: 1px solid #cbcbcb"></textarea>
                                                <script>
                                                    CKEDITOR.replace('content',	{filebrowserUploadUrl:'/notice/imageUpload.do'});
                                                </script>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-group float-right mr-3" style="float:right;">
                                        <input type="submit" id="btn" class="btn btn-dark" style="height: 100%; " value="등록">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</main>

<th:block th:replace="layout/footer :: footer"></th:block>

</body>

</html>